build/
CMakeFiles/
aqtinstall.log
*.user
*.vcxproj*
*.sln
.vs/
.cache/
.ninja_*
out/

# Developer-local emulator assets: ROMs, saves and cores are never committed.
*.nds
*.gba
*.gb
*.gbc
*.sav
*.srm
*.dsv
*.bin
*_libretro.dll
